---
import CountryCard from "./ui/CountryCard.astro";

const countries = [
  {
    name: "sweden",
    flag: "se"
  },
  {
    name: "netherlands",
    flag: "nl"
  },
  {
    name: "germany",
    flag: "de"
  },
  {
    name: "france",
    flag: "fr"
  }
];
---

<section class="mx-auto">
  <div class="flex justify-center my-4">
      <div id="filter" class="filter bg-transparent">
          <input
          type="text"
          class="p-2 my-5 text-lg border-b-2 border-[#ccc] outline-none bg-transparent focus:text-se-dark"
          id="filter"
          placeholder="Filter Countries By Name"
          />
      </div>
  </div>
</section>

<section id="communities">
  <div class="mx-auto w-full bg-red-300 py-20">
    <div class="container">
      <div class="flex justify-center gap-5 flex-wrap">
        {countries.map(country => (
          <CountryCard country={country} />
        ))}
      </div>
    </div>
  </div>
</section>