<section class="mx-auto">
  <div class="flex justify-center my-4">
      <div id="filter" class="filter bg-transparent">
          <input
          type="text"
          class="p-2 my-5 text-lg border-b-2 border-[#ccc] outline-none bg-transparent focus:text-se-dark"
          id="filter"
          placeholder="Filter Countries By Name"
          />
      </div>
  </div>
</section>

<section id="communities">
  <div class="mx-auto w-full bg-red-300 my-20">
    <div class="container"></div>
    <div class="flex justify-center gap-5">
      <div>Country Card</div>
      <div>Country Card</div>
      <div>Country Card</div>
      <div>Country Card</div>
    </div>
  </div>
</section>