---
import { Icon } from 'astro-icon/components';


const { title } = Astro.props;
---
<div>
  <div class="container bg-white flex mx-auto p-8 rounded-lg max-w-6xl shadow-lg">
    <div class="flex flex-col space-y-2 w-2/3">
      <h1 class="text-se-dark text-xl font-bold">{title}</h1>
      <div class="text-se-muted space-y-3 text-sm">
        <slot />
      </div>
      <div class="flex gap-2">
        <a><Icon name="calendar"/></a>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8">
          <Icon name="community"/>
        </a>
        <a target="_blank" href="https://twitter.com/smasheurope"><Icon name="x"/></a>
        <a target="_blank" href="https://www.facebook.com/smasheurope/"><Icon name="fb"/></a>
        <a target="_blank" href="https://twitch.tv/smasheurope"><Icon name="twitch"/></a>
        <a target="_blank" href="https://youtube.com/smasheurope"><Icon name="yt"/></a>
        <a target="_blank" href="https://www.reddit.com/r/smasheurope/"><Icon name="reddit"/></a>
      </div>
    </div>
    <div class="flex flex-1 justify-center items-center">
      <p>logo</p>
    </div>
  </div>
</div>