---
import EventCard from "./ui/EventCard.astro";

const api_url = new URL(`/api/events/`, Astro.url);
const response = await fetch(api_url);
const data = await response.json();

const eventsData = data;

const today = new Date();

const pastEvents = eventsData.filter(event => {
  return CheckIfInThePast(event) ? event : "";
});

function CheckIfInThePast(event) {
  const endDate = new Date(event.dates[1]);
  return endDate < today ? true : false;
}
---

<section id="events">
  <h2 class="text-3xl font-bold text-se-dark my-10 text-center">
    Past Events
  </h2>
  <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8 max-w-5xl px-10">
    {pastEvents.map(event => (
      <EventCard key={event.id} event={event} />
    ))}
  </div>
</section>