---
import EventCard from "./ui/EventCard.astro";

const { limit } = Astro.props;

const api_url = new URL(`/api/events/`, Astro.url);
const response = await fetch(api_url);
const data = await response.json();

const eventsData = data;

const today = new Date();

const upcomingEvents = eventsData.filter(event => {
  return CheckIfInThePast(event) ? "" : event;
});

const events = upcomingEvents.slice(0, limit || eventsData.length);

function CheckIfInThePast(event) {
  const endDate = new Date(event.dates[1]);
  return endDate < today ? true : false;
}

function isUneven(index : Number){
  const result = index == events.length - 1 && (events.length % 2 == 0 ? false : true );
  return result;
}
---

<section>
  <h2 class="text-3xl font-bold text-se-dark my-10 text-center">
    Upcoming Events
  </h2>
  <!-- <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8 max-w-5xl px-10"> -->
  <!-- <div class="m-auto grid grid-cols-1 md:grid-cols-2 gap-8  px-10"> -->
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 max-w-5xl px-10">
    {events.map((event, idx : Number) => (
      <div class={`${isUneven(idx) ? "md:col-span-2 " : ''}`}>
        <div class={`${isUneven(idx) ? 'md:w-1/2 gap-8 px-2 justify-self-center ' : ''}h-full` }>
          <EventCard key={event.id} event={event} />
        </div>
      </div>
      
    ))}
  </div>
</section>