---
const { country } = Astro.props;
---

<div class="min-h-[500px]">
  <div class="bg-white h-full rounded-lg shadow-md w-[460px]">
    <div class="flex justify-between mb-5">
      <div class="flex items-center text-2xl capitalize flex-1 pl-5 border-b-2 border-gray-300">{country.name}</div>
      <div class="h-20 w-20">
        <div class=`fib fi-${country.flag} fis block w-full h-full p-0 rounded-tr-lg`></div>
      </div>
    </div>
    <div class="flex min-h-full flex-col justify-start p-8">
      <!-- Overarching Social Media -->
      <div class="text-center mb-5">
        <div class="font-semibold">Hub Social Media</div>
        <div class="flex gap-5 justify-center flex-wrap">
          <div>Website</div>
          <div>Discord</div>
          <div>X</div>
          <div>BlueSky</div>
          <div>Facebook</div>
          <div>Youtube</div>
          <div>Instagram</div>
        </div>
      </div>
      
      <!-- Discors and Socials -->
       <div class="font-semibold text-center">Game Specific</div>
       <div class="text-center space-y-5">
        <div>
          <div>Smash Bros. Ultimate</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. for Wii U / 3DS</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. Melee</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Project M/+</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. Brawl</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div class="">
          <div>Smash Bros. 64</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .country-flag {
    width: 300px;
  }
</style>
