---
const { country } = Astro.props;
---

<div class="min-h-[500px]">
  <div class="bg-white h-full rounded-lg p-8 shadow-md w-[460px]">
    <div class="flex min-h-full flex-col justify-start">
      <div class="flex gap-5 justify-between mb-5">
        <div>{country.name}</div>
        <div>{country.name} flag</div>
      </div>

      <!-- Overarching Social Media -->
      <div class="text-center mb-5">
        <div class="font-semibold">Hub Social Media</div>
        <div class="flex gap-5 justify-center">
          <div>Discord</div>
          <div>X</div>
          <div>BlueSky</div>
          <div>Facebook</div>
          <div>Youtube</div>
          <div>Instagram</div>
        </div>
      </div>
      
      <!-- Discors and Socials -->
       <div class="font-semibold text-center">Game Specific</div>
       <div class="text-center space-y-5">
        <div>
          <div>Smash Bros. Ultimate</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. for Wii U / 3DS</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. Melee</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Project M/+</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div>
          <div>Smash Bros. Brawl</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
        <div class="">
          <div>Smash Bros. 64</div>
          <div class="flex gap-3 justify-center">
            <div>Discord</div>
            <div>X</div>
            <div>BlueSky</div>
            <div>Facebook</div>
            <div>Youtube</div>
            <div>Twitch</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
