---
import { Image } from "astro:assets";

const { title, image, alt } = Astro.props;
---
<div class="bg-white h-full rounded-lg p-8 shadow-md">
  <div class="grid grid-cols-1 md:grid-cols-4 space-x-10">
    <div class="flex items-center justify-center">
      <Image src={image} alt={alt} class="flex basis-full items-center py-2 object-none" />
    </div>
    <div class="col-span-3 space-y-2">
      <span class="text-2xl text-se-dark font-bold">{title}</span>
      <div class="text-se-muted text-sm space-y-3">
        <slot name="content"/>
      </div>
      <div class="flex basis-full py-3">
        <slot name="buttons" />
      </div>
    </div>

    
    
  </div>
    
</div>