---
import '../../styles/global.scss';
import { getEntry } from 'astro:content';

import RankingLoader from '../../components/rankings/ranking-loader.astro';
import BaseLayout from '../../layouts/base-layout.astro';

const ranking = await getEntry('rankings', 'smash64/01_smash64-rank-2023');

---

<BaseLayout title="Home">
  <div class="container">
    <h1>Full Super Smash Bros. 64 Ranking</h1>
  </div>
  <RankingLoader ranking={ranking} limit="10" isFull={true} />
</BaseLayout>

<style lang="scss">
  .container {
    max-width: inherit;
  }

</style>