---
import BaseLayout from './base-layout.astro';
---

<BaseLayout title="news"/>
  <h1>News Post</h1>
  <span>Author</span>
  <span>Date</span>
  <p>Praesent eget lectus mollis eros ultricies tempor. Proin faucibus, odio vel accumsan porttitor, odio quam congue massa, eu consequat ligula diam consequat sem. Curabitur viverra iaculis ipsum ut ornare. Sed leo ipsum, ullamcorper ut tortor nec, feugiat lobortis ligula. Nunc eget ligula at enim suscipit maximus elementum ut sem. Sed sit amet diam non odio auctor faucibus. Duis vitae ante tristique, maximus lectus sed, pellentesque libero. Suspendisse pellentesque mi accumsan, ultrices erat nec, sollicitudin augue. Nulla sollicitudin, ante eu tristique pharetra, mi erat porta nulla, ac porta nisi nisi et lectus.</p>
  <span>Tags</span>
</BaseLayout>