---

import MainLayout from "@layouts/MainLayout.astro";
import PastEvents from "@components/PastEvents.astro";
---

<MainLayout title="Past Events">
  <h1>Events Page Displaying Past Events</h1>
  <PastEvents />
  <p>- displays events in a grid</p>
  <p>- has buttons to navigate to the upcoming-events page and to display the calendar for all events</p>
</MainLayout>