---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Past Events">
  <h1>Events Page Displaying Upcoming Events</h1>
  <p>- displays events in a grid</p>
  <p>- has buttons to navigate to past-events page</p>
</MainLayout>