
@font-face {
  font-family: "Cerebri Sans";
  src: url('/fonts/cerebrisans-regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url('/fonts/cerebrisans-medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url('/fonts/cerebrisans-semibold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}