---
import BaseLayout from '../layouts/base-layout.astro';
---
<BaseLayout title="About">
  <div class="container">
    <img src="assets/smasheurope_logo_default.png"/>
    <p>The European Smash community has been active for over two decades. It's made up of a grassroots scene fragmented into various communities. SmashEurope was launched in January of 2015 as central hub into this community.</p>
    <p>Quisque congue metus sed purus interdum ultrices. Vestibulum luctus ligula ac eros feugiat accumsan. Phasellus ac enim eu sem porta lacinia ac non metus. Integer scelerisque, ex non dictum semper, arcu lorem pretium purus, sed aliquam enim dui vitae nisi. Integer ipsum purus, aliquet id malesuada in, rhoncus et ex. Mauris sollicitudin velit at mi congue interdum. Quisque non tristique risus. Aenean vel maximus felis, in imperdiet lorem. Aliquam erat volutpat.</p>
  </div>

  
<style lang="scss">
  .container {
    max-width: none;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  p {
    max-width: 500px;
  }

  img {
    display:flex;
    margin: auto;
  }
</style>