---
import '../styles/global.scss';

import Header from '../components/index/header.astro';
import FeatEvents from '../components/index/feat-events.astro';
import SE_Teaser from '../components/index/se-teaser.astro';
import Initiatives from '../components/index/initiatives.astro';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="Home">
  <h1>All Events</h1>
	<FeatEvents />
</BaseLayout>
