---
const {
  name = "",
  class: className  } = Astro.props;
---

<span class={className}>{name}</span>

<style lang="scss">
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    left: 50%;
    bottom: 120%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: #e1e8f2;
    color: #011e34;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    &:after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #e1e8f2 transparent transparent transparent;
    }
  }
</style>
