---
  const { 
    name = "",
    icon = "far fa-calendar-alt fa-lg fa-fw",    
    url="https://google.com" } = Astro.props;

---

<a href={url}><i class={icon}></i>{name}</a>

<style lang="scss">
  a:not(:last-child) {
    margin-right: 5px;
  }
</style>