---
import FeatEventCard from './events/feat-event-card.astro';
import Button from '../universal/button.astro';
---
<section id="feat-events">
  <div class="container" style="flex-direction:column;">
    <h2>Visit European Summer Majors</h2>
    <div class="cards">

      <FeatEventCard 
        games="Ultimate"
        image_src="../../assets/regen2023_banner.jpg"
        title="Regen 2023"
        info="The premier UK Smash Ultimate tournament is back,this time for 3 DAYS!"
        data="August 18-20th, Birmingham, England"
        trailer_url="https://youtu.be/q1hYzBA6Njk"
        reg_url="https://www.start.gg/tournament/regen-2023/"
      />

      <FeatEventCard 
        games="Melee | Project+ | Ultimate"
        image_src="../../assets/fete3_banner.png"
        title="Fête 3: By the Sea"
        info="The UK's premier melee tournament, Fête, returns and is bigger than ever!"
        data="July 14th-16th, Camber, England"
        trailer_url="https://twitter.com/FeteSmash/status/1586800972302614528"
        reg_url="https://www.start.gg/tournament/f-te-3-by-the-sea/details"
      />
      <FeatEventCard 
        games="Ultimate"
        image_src="../../assets/same-sticker.png"
        title="Icarus 2023"
        info="Italy'a premier melee tournament, Icarus, returns and is bigger than ever!"
        data="June 3rd-4th, Bologna BO, Italy"
        trailer_url="https://twitter.com/FeteSmash/status/1586800972302614528"
        reg_url="https://www.start.gg/tournament/icarus-2023/details"
      />

    </div>
    <div class="more-button">
      <Button name="more events" styleClasses="dark" icon="far fa-calendar-alt fa-lg fa-fw" url="/events"/>
    </div>
  </div> 
</section>

<style lang="scss">
  #feat-events {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    .container {
      // background: rgb(152, 152, 232);
      width: 100%;

      .cards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

      }
      .more-button {
        margin: 30px 0;
        flex: 0 0 100%;
      }
    }
  }
  
</style>