---

---
<section id="feat-events">
  <h2>featured events</h2>
  <div>
    <div>card 1</div>
    <div>card 2</div>
    <div>card 3</div>
  </div>
  <div>
    <button>more events</button>
  </div>
</section>