---

---
<section id="feat-events">
  <div class="container" style="flex-direction:column;">
    <h2>Visit European Summer Majors</h2>
    <div>
      <div>card 1</div>
      <div>card 2</div>
      <div>card 3</div>
    </div>
    <div>
      <button>more events</button>
    </div>
  </div> 
</section>

<style lang="scss">
  #feat-events {
    display: flex;
    justify-content: center;
  }
  
</style>