---

---

<section id="info-header">
  <h1>SmashEurope AstroJS Header</h1>
<p>Here you can find your local European Smash community and an overview of events to compete in.

  You're encouraged to follow our social accounts to stay in the loop of developments in the scene.
  
  The European Smash community has been active for over two decades. It's made up of a grassroots scene fragmented into various communities. SmashEurope was launched in January of 2015 as central hub into this community.
  
  Best of luck on your Smash journey!</p>
  <span>—The SmashEurope Development Team</span>
  <div>
    <button>Btn1</button>
    <button>Btn2</button>
    <button>Btn3</button>
    <button>Btn4</button>
    <button>Btn5</button>
    <button>Btn6</button>
    <button>Btn7</button>
  </div>
  <img src="/assets/smasheurope_logo_default.png"/>
</section>