---

---
<section id="initiatives">
  <div class="container">
    <h2>Past joined community initiatives</h2>
  </div>
</section>
<section class="eu-initiative">
  <div class="container">
    <div class="card">
      <div class="image">
        <img src="/assets/same-sticker.png"/>  
      </div>
      <div class="info">
        <span class="card-title">The S.A.M.E Circuit 2021</span>
        <p>Times had changed but we were
          S till. A rranging. M elee. E vents</p>
        <p>In 2021 a collective of 11 premier European TO teams joined forces under the S.A.M.E Circuit to give an online taste of some the best that European Melee could still offer (under the COVID-19 pandemic regulations). The circuit consisted of 9 online major qualifier events each offering Singles, Teams and International Crews. Competitors earned points in order to qualify for the circuit Finale where coveted prizes could be earned.</p>
        <p>S.A.M.E circuit partnered with Beyond The Summit and was streamed entirely on their Twitch Channel. In return funds were given to production and two invites to Smash Summits could be earned. Additional partners included Kone's Academy which offered free coaching trials to placement in the amateur brackets, Metafy which offered a prizepool for the Finale and Poilon Software which provided the circuit ranking website.</p>
        <div class="buttons">
          <button>trailer</button>
          <button>details</button>
          <button>discord</button>
          <button>finale</button>
          <button>credits</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="eu-initiative">
  <div class="container">
    <div class="card">
      <div class="image">
        <img style="height:80%;" src="/assets/esc2015-logo.png"/>
      </div>
      <div class="info">
        <span class="card-title">The European Smash Circuit 2015</span>
        <p>The European Smash Circuit 2015 was a tournament circuit consisting of seven European tournaments: HFLAN Melee Edition, Heir II the Throne, Helix, Avalon M, Eclipse, Òssom Fights 2015, and B.E.A.S.T 6.</p>
        <p>The circuit featured a points-based ranking system based on performance in each tournament. Fifteen percent of the prize pool from each tournament went toward a final prize pool, which was paid out to the top 3 points earners.</p>
        <div class="buttons">
          <button>trailer</button>
          <button>details</button>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  #initiatives {
    display: flex;
    justify-content: center;
  }
  .eu-initiative {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    .card {
      display:flex;

      .image {
        //background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        height:inherit;
        flex: 0 0 20em;
      }

      @media screen and (max-width: 799px) {
        flex-direction: column;
      }

      .info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
</style>