---
import Event from './event-card.astro';
---


<section id="events" class="container">
  <h1>All Events</h1>
  <Event />
  <Event />
  <Event />
</section>

<style lang="scss">
  .container {
    max-width: inherit;
    background: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
</style>