---
// layouts
import MainLayout from "@layouts/MainLayout.astro";
import RepeatedLayout from "@layouts/RepeatedLayout.astro";
// components
import Hero from "@components/Hero.astro";
import UpcomingEvents from "@components/UpcomingEvents.astro";

---

<MainLayout title="smasheurope.com">
	<Hero title="Welcome to SmashEurope!">
		<p>Here you can find your local European Smash community and an overview of events to compete in.</p>
		<p>You're encouraged to follow our social accounts to stay in the loop of developments in the scene.</p>
			
		<p>The European Smash community has been active for over two decades. It's made up of a grassroots scene fragmented into various communities. SmashEurope was launched in January of 2015 as central hub into this community.</p>

		<p>Best of luck on your Smash journey!</p>

		<p class="text-se-dark">—The SmashEurope Development Team</p>
	</Hero>
	<UpcomingEvents limit="4"/>
	<RepeatedLayout />
</MainLayout>

